<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>ERNI Visual Facilitation Center</title>
    <link href='http://fonts.googleapis.com/css?family=Give+You+Glory' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="./stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/pictures.css"/>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script data-require="lodash.js@*" data-semver="2.4.1"
            src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
    <script data-require="restangular@*" data-semver="1.3.1"
            src="http://cdnjs.cloudflare.com/ajax/libs/restangular/1.3.1/restangular.js"></script>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.min.js"></script>

    <script src="./dist/ng-flow-standalone.js"></script>

    <script src="./dist/angular-cookies.js"></script>

    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.js"></script>

    <!-- Tell IE we are using html5 + CSS -->
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="./js/lightbox.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/ui-darkness/jquery-ui.css"
          type="text/css" media="all"/>
    <link rel="stylesheet" href="./stylesheets/lightbox.css" type="text/css" media="all"/>

    <script type='text/javascript' src='./js/main.js'></script>

    <script>

    </script>

</head>
<body ng-app="app">

<div id="window_wrap">

    <header>

        <div class="login-wrapper" ng-controller="LoginController">
			<div class="login">
			<form name="loginForm" ng-submit="login(credentials)" novalidate>
			  <input type="text" id="username" ng-model="credentials.username" placeholder="username">
			  <input type="password" id="password" ng-model="credentials.password" placeholder="+xxxxxxxxxx">
			  <button type="submit">Login</button>
			  <button type="button" ng-click="logout()">Logout</button>
			</form>
			
            
            
                <img src="./img/profile-icon.png"/>
                {{ profile.username }}
            </div>

        </div>


        <div class="header-wrapper">

            <div class="logo">
                <a href="/"><img class="logo-img" src="./img/logo.png" alt="ERNI Consulting"></a>
                <span class="title">Visual Facilitation Centre</span>
                <a class="upload" href="#/upload">Upload<img src="./img/cloud_icon.png"></a>
            </div>

            <nav class="search-header">

                <div class="menu-bar">
                    <ul id="drop-nav" class="menu">
                        <li><a href="#">Categories</a>
                            <ul>
                                <li class="item"></i><a href="#/content/basics">Basics</a></li>

                                <li class="item"><a href="#/content/icons">Icons&nbsp;</a></li>
                                <li class="item"><a href="#/content/emotions">Emotions</a></li>
                                <li class="item"><a href="#/content/posters">Posters</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Favourites</a>

                        </li>
                        <!--                        <li><a href="#/upload">Uploads</a>
                                                    <ul>
                                                        <li class="item"></i><a href="#/upload">Upload Images</a></li>
                                                        <li class="item"></i><a href="#/edit">Manage Images</a></li>
                                                    </ul>
                                                </li>-->
                        <li><a href="#/content/tips">Tips</a>

                        </li>
                    </ul>
                </div>
                <input class="search-field" type="text" placeholder="search" ng-model="tags"/>


            </nav>
        </div>
    </header>


    <div class="wrapper">
        <div id="body_wrap">
            <div ng-view></div>
        </div>
    </div>

    <div class="recent-view"></div>


</div>
</body>
</html>