<script type="text/ng-template" id="modal">

    <div class="modal-header">
        <h3 class="modal-title">{{ selectedImage.name}} by {{ selectedImage.owner}} </h3>
    </div>
    <div class="modal-body">

        <div>
            <img class="dialog-image" alt="{{ selectedImage.name }}" src="{{ selectedImage.url }}"/>
        </div>

        <div class="tags">
            <div class="tag" ng-repeat="tag in selectedImage.tags"> #{{ tag}}</div>
        </div>
        <div ng-switch on="isInFavourites(picture)">
            <div class="favourite" ng-switch-when="false"><a ng-click="addToFavourites(picture)"><img
                    src="./img/favorites_icon-add_new.png"></a></div>
            <div class="favourite" ng-switch-default><a ng-click="removeFromFavourites(picture)"><img
                    src="./img/favorites_icon-remove_new.png"></a></div>
        </div>

    </div>
    <div class="modal-footer">

        <button class="btn btn-warning" ng-click="cancel()">Close</button>
        <p ng-show="selectedImage.name.$invalid && !selectedImage.name.$pristine" class="help-block">You
            name is required.</p>

    </div>

</script>


<div id="gallery">
    <div class="polaroid" ng-repeat="picture in contacts | orderBy:'dateAdded':true | filter:searchFilter">

        <a class="images" rel="fncbx" ng-click="open(picture)" href="javascript:void(0);">
            <img class="item"
                 alt="{{ picture.name }}" src="{{ picture.url }}"/></a>

        <span>{{ picture.name.substring(0,15); }} </span></br>
        <span>by {{ picture.owner }}</span>


        <div class="tags">
            <div class="tag" ng-repeat="tag in picture.tags"> #{{ tag}}</div>
        </div>
        <div ng-switch on="isInFavourites(picture)">
            <div class="favourite" ng-switch-when="false"><a ng-click="addToFavourites(picture)"><img
                    src="./img/favorites_icon-add_new.png"></a></div>
            <div class="favourite" ng-switch-default><a ng-click="removeFromFavourites(picture)"><img
                    src="./img/favorites_icon-remove_new.png"></a></div>
        </div>

    </div>
</div>