<div id="gallery">
    <div class="polaroid" ng-repeat="picture in contacts | orderBy:'dateAdded':true | filter:searchFilter">

        <a class="images" rel="fncbx" data-lightbox="image-1" data-title="{{ picture.name }}" href="{{ picture.url }}"
           target="_blank"><img class="item"
                                alt="{{ picture.name }}" src="{{ picture.url }}"/></a>
        <span>{{ picture.name.substring(0,15); }} </span></br>
        <span>added by {{ picture.owner }}</span>


        <div class="tags">
            <div class="tag" ng-repeat="tag in picture.tags"> #{{ tag}}</div>
        </div>
        <div ng-switch on="isInFavourites(picture)">
            <div class="favourite" ng-switch-when="false"><a ng-click="addToFavourites(picture)"><img
                    src="./img/favorites_icon-add_new.png"></a></div>
            <div class="favourite" ng-switch-default><a ng-click="removeFromFavourites(picture)"><img
                    src="./img/favorites_icon-remove_new.png"></a></div>
        </div>

    </div>
</div>