<!-- SHOW ERROR/SUCCESS MESSAGES -->
<div class="container">

    <div>

        Temp upload place

        <form action="uploader.php" method="post" enctype="multipart/form-data">
            <label for="file">Filename:</label>
            <input type="file" id="file" name="image" ng-model-instant onchange="angular.element(this).scope().setFiles(this)"/><br>
        </form>

    </div>
	<img id="placeHolder" width="250" style="border:1px solid #e0e0e0; padding: 5px; " ng-model="formData.image" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image"/>
	<div ng-repeat="file in files">
		{{ file.name }} {{ file.size}}
	</div>
	<button ng-click="upload()" > Upload </button>
	<p>
		Only PNG,GIF,JPG files allowed.
	</p>
</div>
<div class="upload_form" ng-controller="UploadController" flow-init>

    <div id="messages" class="well" ng-show="message">{{ message }}</div>

    <!-- FORM -->
    <form ng-submit="processForm()">
        <!-- SECTION -->
        <div id="section-group" class="form-group" ng-class="{ 'has-error' : errorName }">


            <label>Name</label>
            <select name="content-section" class="form-control" placeholder="teapot.jpg" ng-model="formData.section">
                <option value="rules">-- RULES --</option>
                <option value="basics">-- BASICS --</option>
                <option value="icons">-- ICONS --</option>
                <option value="emotions">-- EMOTIONS --</option>
                <option value="posters">-- POSTERS --</option>
            </select>
            <span class="help-block" ng-show="errorSection">{{ errorSection }}</span>
        </div>

        <!-- NAME -->
        <div id="name-group" class="form-group" ng-class="{ 'has-error' : errorName }">
            <label>Name</label>
            <input size="60" type="text" name="content-name" class="form-control" placeholder="teapot.jpg"
                   ng-model="formData.name" value="{{formData.name}}" disabled="disabled">
            <span class="help-block" ng-show="errorName">{{ errorName }}</span>
        </div>

        <!-- URL -->
        <div id="url-group" class="form-group" ng-class="{ 'has-error' : errorSuperhero }">
            <label>Url</label>
            <input size="60" type="text" name="content-url" class="form-control"
                   placeholder="/sections/icons/teapot.jpg" ng-model="formData.url" disabled="disabled">
            <span class="help-block" ng-show="errorurl">{{ errorurl }}</span>
        </div>

        <div id="tag-group" class="form-group" ng-class="{ 'has-error' : errorTag }">
            <label>tags</label>
            <input size="60" type="text" name="content-tags" class="form-control" ng-list placeholder="Enter tags"
                   ng-model="formData.tags">
            <span class="help-block" ng-show="errorTag">{{ errorTag }}</span>
        </div>
        
        
		<button type="button" ng-click="test()">Test</button>
        <!-- SUBMIT BUTTON -->
        <button type="submit" class="btn btn-success btn-lg btn-block">
            <span class="glyphicon glyphicon-flash"></span> Submit!
        </button>
    </form>

    <!-- SHOW DATA FROM INPUTS AS THEY ARE BEING TYPED -->
<pre>
		{{ formData }}
	</pre>

</div>