<!-- SHOW ERROR/SUCCESS MESSAGES -->
<div class="container">


</div>
<div class="upload_form" ng-controller="UploadController" flow-init>


    <div>
        <p>Please select a file that you would like to load.</p>

        <form action="uploader.php" method="post" enctype="multipart/form-data">
            <label for="file">Filename:</label>

            <div ng-repeat="file in files">
                {{ file.size}}
            </div>
            <input type="file" id="file" name="image" ng-model-instant
                   onchange="angular.element(this).scope().setFiles(this)"/>
        </form>

    </div>
    <img id="placeHolder" width="250" style="border:1px solid #e0e0e0; padding: 5px; " ng-model="formData.image"
         src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image"/>

    <p>
        Only PNG,GIF,JPG files allowed.
    </p>


    <div id="messages" class="well" ng-show="message">{{ message }}</div>

    <!-- FORM -->
    <form ng-submit="processForm()">
        <!-- SECTION -->
        <div id="section-group" class="form-group" ng-class="{ 'has-error' : errorName }">


            <p>Which section would you like to place your image? </p>
            <select name="content-section" class="form-control" placeholder="teapot.jpg" ng-model="formData.section">
                <option value="rules">-- RULES --</option>
                <option value="basics">-- BASICS --</option>
                <option value="icons">-- ICONS --</option>
                <option value="emotions">-- EMOTIONS --</option>
                <option value="posters">-- POSTERS --</option>
                <option value="tips">-- TIPS --</option>
            </select>
            <span class="help-block" ng-show="errorSection">{{ errorSection }}</span>
        </div>


        <div id="name-group" class="form-group" ng-class="{ 'has-error' : errorName }">
            <label>Name</label>
            <input size="60" type="text" name="content-name" class="form-control"
                   placeholder="please enter a name for your image"
                   ng-model="formData.name" value="{{formData.name}}" required>
            <span class="help-block" ng-show="errorName">{{ errorName }}</span>
        </div>

        <div id="tag-group" class="form-group" ng-class="{ 'has-error' : errorTag }">
            <label>tags</label>
            <input size="60" type="text" name="content-tags" class="form-control" ng-list placeholder="Enter tags"
                   ng-model="formData.tags">

            <p ng-show="formData.name.$invalid && !formData.name.$pristine" class="help-block">You name is required.</p>
        </div>

        <!-- SUBMIT BUTTON -->
        <button type="submit" class="btn btn-success btn-lg btn-block">
            <span class="glyphicon glyphicon-flash"></span> Submit!
        </button>
    </form>

    <!-- SHOW DATA FROM INPUTS AS THEY ARE BEING TYPED -->
<pre>
		{{ formData }}
	</pre>

</div>