#gallery {
    /* The pics container */
    width: 100%;

    position: relative;
    z-index: 99;
    display: inline-block;
    overflow: visible;
    min-height: 700px;
}

.polaroid a {
    display: block;
    width: 115px;
    height: 115px;

    top: 50%;
    left: 50%;
}

.polaroid span {
    top: 50px;
    position: relative;
}

.polaroid {
    content: attr(title);
    width: 170px;
    height: 170px;
    display: inline-block;
    margin: 20px;
    padding: 5px;
    text-align: center;

    text-decoration: none;
    font-size: 14px;
    border-radius: 50%;
    border: solid 2px #000;
    text-align: center;
}

.polaroid img {
    width: 155px;
    height: 155px;

    border-radius: 50%;
    border: none;
    overflow: hidden;
}

.polaroid img:hover {

    -webkit-transform: scale(1.07, 1.07);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.07, 1.07);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;

}

label, input {
    /* The modal dialog URL field */
    display: block;
    padding: 3px;
}

label {
    font-size: 10px;
}

fieldset {
    border: 0;
    margin-top: 10px;
}

#url {
    /* The URL field */
    width: 240px;
}

ul.polaroids a:after {
    content: attr(title);
}

#main {
    /* The main container */
    width: 780px;
    margin: 30px auto;
}


