#gallery {
    /* The pics container */

    position: relative;
    z-index: 99;
    display: inline-block;
    overflow: visible;
    min-height: 700px;
    text-align: center;
}

.polaroid a.images {
    display: block;
    width: 110px;
    height: 110px;

    top: 50%;
    left: 50%;
}

.polaroid span {
    top: 20px;
    position: relative;

}

.welcome-panel {
    display: inline-block;
    position: relative;

}

.cat-tile {
    display: inline-block;
    width: 250px;
}

.cat-tile img {
    width: 100%;
}

.polaroid {
    content: attr(title);
    width: 125px;
    height: 125px;
    display: inline-block;
    margin: 15px;
    padding: 20px;
    text-align: center;
    position: relative;
    text-decoration: none;
    font-size: 14px;
    border-radius: 50%;
    box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
    text-align: center;

}

.favourite {
    position: absolute;
    float: right;
    top: -10px;
    right: -10px
}

.polaroid img.item {
    width: 120px;
    height: 120px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: none;
    overflow: hidden;
}

.tips-tile {
    width: 250px;
}

.tips-tile img {
    width: 250px
}

.polaroid img:hover {

    -webkit-transform: scale(1.07, 1.07);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.07, 1.07);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;

}

label, input {
    /* The modal dialog URL field */
    display: block;
    padding: 3px;
}

label {
    font-size: 10px;
}

fieldset {
    border: 0;
    margin-top: 10px;
}

#url {
    /* The URL field */
    width: 240px;
}

ul.polaroids a:after {
    content: attr(title);
}

#main {
    /* The main container */
    width: 780px;
    margin: 30px auto;
}


